@model List<string>

@{
    ViewBag.Title = "EmpleadosProyecto_Mostrar";
}

<h2>EmpleadosProyecto_Mostrar</h2>

<table>
    <tr>
        <td>Empleados: </td>
    </tr>
    @foreach (string emp in Model)
    {
        <tr>
            <td>@emp</td>
        </tr>
    }

</table>

<div class="list-group">

    <div class="list-group-item">
        <button onclick="location.href='@Url.Action("MainMenuCliente", "Cliente")';return false;" class="btn btn-default">Volver</button>
    </div>
</div>