
@{
    ViewBag.Title = "MainMenuCliente";
}

<h2>Opciones Cliente: </h2>
<div class="list-group">
    <div class="list-group-item">
        <p>Historial de todos mis proyectos finalizados: </p>
        <button onclick="location.href='@Url.Action("VerProyectos", "Cliente")';return false;" class="btn btn-default">Ver Proyectos</button>
    </div>

    <div class="list-group-item">
        <p>Mostrar empleados por proyecto dado su id:</p>
        <button onclick="location.href='@Url.Action("EmpleadosProyecto_Buscar", "Cliente")';return false;" class="btn btn-default">Buscar Proyecto</button>
    </div>

    <div class="list-group-item">
        <button onclick="location.href='@Url.Action("Logout", "Cliente")';return false;" class="btn btn-default">Logout</button>
    </div>
</div>




