
@{
    ViewBag.Title = "MainMenuCliente";
}

<h2>Opciones Cliente: </h2>
<div class="list-group">
    <div class="list-group-item">
        <p>Historial de todos los proyectos solicitados a la empresa: </p>
        <form action="Cliente/VerPoyectos" method="get">
            <input type="submit" value="Ver Proyectos" class="btn btn-default" /> <!-- esto probablemente deberia ser un boton como el de logout -->
        </form>

    </div>
    <div class="list-group-item">
        <p>Detalle de empleados que participaron de un proyecto especifico: </p>
        <form action="Cliente/EmpleadosProyecto" method="post">
            <label class="control-label">Id del proyecto: </label>
            <input type="text" name="idProyecto" class="input-sm" />
            <br />
            <br />
            <input type="submit" value="Buscar" class="btn btn-default" />
        </form>
    </div>
    <div class="list-group-item">
        <button onclick="location.href='@Url.Action("Logout", "Cliente")';return false;" class="btn btn-default">Logout</button>
    </div>
</div>




